<div class="container-fluid gradient-profile">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <div class="form-profile">
        <nav class="nav nav-pills nav-fill">
          <%= link_to "About Me", user_profile_path(current_user.user_profile.id),
          class: "nav-item nav-link active" %>
          <%= link_to "Studies", user_profile_user_studies_path(current_user.user_profile.id),
          class: "nav-item nav-link" %>
          <%= link_to "Other Studies", user_profile_user_other_studies_path(current_user.user_profile.id), class: "nav-item nav-link" %>
          <%= link_to "Languages", user_profile_user_languages_path(current_user.user_profile.id),
          class: "nav-item nav-link" %>
          <%= link_to "Work Preferences", user_profile_work_preferences_path(current_user.user_profile.id), class: "nav-item nav-link" %>
          <%= link_to "Skills", user_profile_user_skills_path(current_user.user_profile.id),
          class: "nav-item nav-link" %>
          <%= link_to "Working Experience", user_profile_user_experiences_path(current_user.user_profile.id), class: "nav-item nav-link" %>
          <%= link_to "Personality Traits", user_profile_user_traits_path(current_user.user_profile.id), class: "nav-item nav-link" %>
          <%= link_to "Hobbies", user_profile_user_hobbies_path(current_user.user_profile.id),
          class: "nav-item nav-link" %>
        </nav>
        <h3>
          Skills
          <%= link_to new_user_skill_path, class: "btn-add" do %>
          <i class="fas fa-plus"></i>
          <% end %>
        </h3>
        <% @skill.each_with_index do |t, i| %>
        <h4>
          <%= t.skill.name %>
          <%= link_to user_skill_path(t.id), method: :delete,
          class: "btn-add" do %>
          <i class="far fa-trash-alt"></i>
          <% end %>
        </h4>
        <% end %>
      </div>
    </div>
  </div>
</div>
