<div class="container-fluid gradient">
  <div class="row text-center">
    <div class="col-12">
      <h1 class="user-title">Applicant</h1>
      <h2>We will help you with:</h2>
    </div>
    <div class="icon-box col-12 col-md-6 col-lg-4">
      <%= image_tag "resume.svg", class: "icon-md" %>
      <p class="icon-text">Creating your free jobhoot resume</p>
    </div>
    <div class="icon-box col-12 col-md-6 col-lg-4">
      <%= image_tag "hiring.svg", class: "icon-md" %>
      <p class="icon-text">Printing and sharing your free jobhoot resume with everyone</p>
    </div>
    <div class="icon-box col-12 col-md-6 col-lg-4">
      <%= image_tag "job.svg", class: "icon-md" %>
      <p class="icon-text">Search and apply for your dream job opportunity here for free</p>
    </div>
    <div class="icon-box col-12 col-md-6 col-lg-4 offset-lg-2">
      <%= image_tag "interview.svg", class: "icon-md" %>
      <p class="icon-text">Messaging and contacting your possible employer for free</p>
    </div>
    <div class="icon-box col-12 col-md-6 col-lg-4">
      <%= image_tag "career.svg", class: "icon-md" %>
      <p class="icon-text">Connecting you with your dream job</p>
    </div>
    <div class="icon-box col-12">
      <%= link_to "Join Jobhoot", new_user_registration_path,
      class: "btn btn-primary" %>
    </div>
  </div>
</div>
