<div class="container-fluid gradient-profile">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">

      <div class="form-profile">
        <h3>
          About Me
          <%= link_to edit_user_profile_path(@profile.id), class: "btn-add",
          "data-toggle" => "modal", "data-target" => "#" do %>
            <i class="far fa-edit"></i>
          <% end %>
        </h3>
        <% if @profile.photo? %>
          <%= cl_image_tag(@profile.photo, width: 150, height: 150, crop: :thumb,
                           gravity: :face, radius: 75) %>
        <% else %>
          <%= image_tag "profile.png", alt: "photo", height: "150px" %>
        <% end %>
        <h5><%= @profile.name %> <%= @profile.last_name %></h5>
        <p><strong>Sex:</strong> <%= @profile.sex %></p>
        <p><strong>Birthdate:</strong> <%= @profile.birth_date.strftime("%F") %></p>
        <p><strong>Age:</strong> <%= @age %></p>
        <p><strong>Country of Origin:</strong> <%= @origin_country %></p>
        <p><strong>Residency Status:</strong> <%= @profile.residency_status %></p>
        <p><strong>E-mail:</strong> <%= @user.email %></p>
        <p><strong>Phone:</strong> <%= @profile.phone %></p>
        <p><strong>Country of Residence:</strong> <%= @residence_country %></p>
        <p><strong>Address:</strong> <%= @profile.address %></p>
      </div>

      <!-- Studies -->
      <div class="form-profile">
        <h3>
          Studies
          <%= link_to new_user_study_path, class: "btn-add" do %>
            <i class="fas fa-plus"></i>
          <% end %>
        </h3>
        <% @user_studies.each_with_index do |s, i| %>
          <h4>
            <%= s.study.title %>
            <%= link_to edit_user_study_path(s.id), class: "btn-add" do %>
              <i class="far fa-edit"></i>
            <% end %>
          </h4>
          <p>
            <strong>Degree:</strong>
            <%= s.study_type %>
          </p>
          <p>
            <strong>Status:</strong>
            <%= s.status %>
          </p>
          <p>
            <strong>Started at:</strong>
            <%= s.start_date.strftime("%F") %>
          </p>
          <p><strong>Finished at:</strong>
            <%= s.end_date.strftime("%F") %>
          </p>
          <% if i < @user_studies.size - 1 %>
            <hr>
          <% end %>
        <% end %>
      </div>
      <!-- Other Studies -->
      <div class="form-profile">
        <h3>
          Other Studies
          <%= link_to new_user_other_study_path, class: "btn-add" do %>
            <i class="fas fa-plus"></i>
          <% end %>
        </h3>
        <% @user_other_studies.each_with_index do |s, i| %>
          <h4>
            <%= s.other_study.title %>
            <%= link_to edit_user_other_study_path(s.id), class: "btn-add" do %>
              <i class="far fa-edit"></i>
            <% end %>
          </h4>
          <p>
            <strong>Title:</strong>
            <%= s.other_study.title %>
          </p>
          <p>
            <strong>Type:</strong>
            <%= s.study_type %>
          </p>
          <p>
            <strong>Started at:</strong>
            <%= s.start_date.strftime("%F") %>
          </p>
          <p><strong>Finished at:</strong>
            <%= s.end_date.strftime("%F") %>
          </p>
          <% if i < @user_other_studies.size - 1 %>
            <hr>
          <% end %>
        <% end %>
      </div>
      <!-- Languages -->
      <div class="form-profile">
        <h3>
          Languages
          <%= link_to new_user_language_path, class: "btn-add" do %>
            <i class="fas fa-plus"></i>
          <% end %>
        </h3>
        <% @user_languages.each_with_index do |s, i| %>
          <h4>
            <%= s.language.name %>
            <%= link_to edit_user_language_path(s.id), class: "btn-add" do %>
              <i class="far fa-edit"></i>
            <% end %>
          </h4>
          <p>
            <strong>Proficiency:</strong>
            <%= s.proficiency %>%
          </p>
          <% if i < @user_languages.size - 1 %>
            <hr>
          <% end %>
        <% end %>
      </div>
      <!-- Work Preferences -->
      <div class="form-profile">
          <h3>
            Work Preferences
            <%= link_to new_work_preference_path, class: "btn-add" do %>
              <i class="fas fa-plus"></i>
            <% end %>
          </h3>
          <% @preferences.each_with_index do |s, i| %>
            <h4>
              <%= s.study.title %>
              <%= link_to edit_work_preference_path(s.id), class: "btn-add" do %>
                <i class="far fa-edit"></i>
              <% end %>
            </h4>
            <p>
              <strong>Contract Type:</strong>
              <%= s.contract_type %>
            </p>
            <p>
              <strong>Objectives:</strong>
              <%= s.objectives %>
            </p>
            <% if i < @preferences.size - 1 %>
              <hr>
            <% end %>
          <% end %>
      </div>
      <!-- Skills -->
      <div class="form-profile">
          <h3>
            Skills
            <%= link_to new_user_skill_path, class: "btn-add" do %>
              <i class="fas fa-plus"></i>
            <% end %>
          </h3>
          <% @skills.each_with_index do |t, i| %>
            <h4>
              <%= t.skill.name %>
              <%= link_to user_skill_path(t.id), method: :delete,
              class: "btn-add" do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            </h4>
          <% end %>
      </div>
      <!-- Working Experience -->
      <div class="form-profile">
          <h3>
            Working Experience
            <%= link_to new_user_experience_path, class: "btn-add" do %>
              <i class="fas fa-plus"></i>
            <% end %>
          </h3>
          <% @experiences.each_with_index do |s, i| %>
            <h4>
              <%= s.study.title %>
              <%= link_to edit_user_experience_path(s.id), class: "btn-add" do %>
                <i class="far fa-edit"></i>
              <% end %>
            </h4>
            <p>
              <%= s.company_name %>
            </p>
            <p>
              <strong>Contract Type:</strong>
              <%= s.contract_type %>
            </p>
            <p>
              <strong>Description:</strong>
              <%= s.description %>
            </p>
            <p>
              <strong>Skills:</strong>
              <%= s.skill.name %>
            </p>
            <p>
              <strong>Status:</strong>
              <%= s.status %>
            </p>
            <p>
              <strong>Started at:</strong>
              <%= s.start_date.strftime("%F") %>
            </p>
            <p>
              <strong>Finished at:</strong>
              <%= s.end_date.strftime("%F") %>
            </p>
            <% if i < @experiences.size - 1 %>
              <hr>
            <% end %>
          <% end %>
      </div>
      <!-- Traits -->
      <div class="form-profile">
          <h3>
            Personality Traits
            <%= link_to new_user_trait_path, class: "btn-add" do %>
              <i class="fas fa-plus"></i>
            <% end %>
          </h3>
          <% @traits.each_with_index do |s, i| %>
            <h4>
              <%= s.trait.name %>
              <%= link_to user_trait_path(s.id), method: :delete,
              class: "btn-add" do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            </h4>
            <p>
              <strong>Description:</strong>
              <%= s.trait.description %>
            </p>
            <% if i < @traits.size - 1 %>
              <hr>
            <% end %>
          <% end %>
      </div>
      <!-- Hobby -->
      <div class="form-profile">
          <h3>
            Hobbies
            <%= link_to new_user_hobby_path, class: "btn-add" do %>
              <i class="fas fa-plus"></i>
            <% end %>
          </h3>
          <% @hobbies.each_with_index do |t, i| %>
            <h4>
              <%= t.name %>
              <%= link_to edit_user_hobby_path(t.id), class: "btn-add" do %>
                <i class="far fa-edit"></i>
              <% end %>
            </h4>
            <p>
              <strong>Category:</strong>
              <%= t.category %>
            </p>
            <% if i < @hobbies.size - 1 %>
              <hr>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Edit Profile Modal -->
<div class="modal fade" id="edit_profile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Your Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container gradient">
          <div class="form-login">
            <%= render 'form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
