<h2>Welcome, <%= @profile.name %></h2>

<p><strong>First Name:</strong> <%= @profile.name %></p>
<p><strong>Last Name:</strong> <%= @profile.last_name %></p>
<p><strong>Birthdate:</strong> <%= @profile.birth_date.strftime("%F") %></p>
<p><strong>Sex:</strong> <%= @profile.sex %></p>
<p><strong>Phone:</strong> <%= @profile.phone %></p>

<hr>

<h3>Studies</h3>
<% @user_studies.each do |s| %>
  <p>
    <strong>Title:</strong>
    <% @studies.each do |t| %>
      <% if t.id == s.study_id %>
        <%= t.title %>
      <% end %>
    <% end %>
  </p>
  <p>
    <strong>Degree:</strong>
    <%= s.study_type %>
  </p>
  <p>
    <strong>Status:</strong>
    <%= s.status %>
  </p>
  <p>
    <strong>Started at:</strong>
    <%= s.start_date.strftime("%F") %>
  </p>
  <p><strong>Finished at:</strong>
    <%= s.end_date.strftime("%F") %>
  </p>
<% end %>

<hr>

<h3>Other Studies</h3>
<% @user_other_studies.each do |s| %>
  <p>
    <strong>Title:</strong>
    <% @other_studies.each do |t| %>
      <% if t.id == s.other_study_id %>
        <%= t.title %>
      <% end %>
    <% end %>
  </p>
  <p>
    <strong>Type:</strong>
    <%= s.study_type %>
  </p>
  <p>
    <strong>Started at:</strong>
    <%= s.start_date.strftime("%F") %>
  </p>
  <p><strong>Finished at:</strong>
    <%= s.end_date.strftime("%F") %>
  </p>
<% end %>

<hr>

<h3>Languages</h3>
<% @user_languages.each do |s| %>
  <p>
    <strong>Name:</strong>
    <% @languages.each do |t| %>
      <% if t.id == s.language_id %>
        <%= t.name %>
      <% end %>
    <% end %>
  </p>
  <p>
    <strong>Proficiency:</strong>
    <%= s.proficiency %>
  </p>
<% end %>

<hr>

<h3>Work Preferences</h3>
<% @preferences.each do |s| %>
  <p>
    <strong>Objectives:</strong>
    <%= s.objectives %>
  </p>
<% end %>

<hr>

<h3>Skills</h3>
<% @skills.each do |t| %>
  <p>
    <%= t.name %>
  </p>
<% end %>

<hr>

<h3>Working Experience</h3>
<% @experiences.each do |s| %>
  <p>
    <strong>Company:</strong>
    <%= s.company_name %>
  </p>
  <p>
    <strong>Contract Type:</strong>
    <%= s.contract_type %>
  </p>
  <p>
    <strong>Position(s):</strong>
    <% @positions.each do |t| %>
      <% if t.id == s.position_id %>
        <%= t.title %>
      <% end %>
    <% end %>
  </p>
  <p>
    <strong>Skills:</strong>
    <% @skills.each do |t| %>
      <% if t.id == s.skill_id %>
        <%= t.name %>
      <% end %>
    <% end %>
  </p>
  <p>
    <strong>Started at:</strong>
    <%= s.start_date.strftime("%F") %>
  </p>
  <p>
    <strong>Finished at:</strong>
    <%= s.end_date.strftime("%F") %>
  </p>
<% end %>

<hr>

<h3>Traits</h3>
<% @traits.each do |t| %>
  <p>
    <strong>Name:</strong>
    <%= t.name %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= t.description %>
  </p>
<% end %>

<hr>

<h3>Hobbies</h3>
<% @hobbies.each do |t| %>
  <p>
    <strong>Name:</strong>
    <%= t.name %>
  </p>
  <p>
    <strong>Category:</strong>
    <%= t.category %>
  </p>
<% end %>

