<h2>Add Work Experience to your Profile</h2>

<%= simple_form_for @experience do |f| %>
  <%= f.input :company_name %>
  <%= f.association :position %>
  <%= f.input :status, collection: ["Currently Working", "Finished"] %>
  <%= f.input :contract_type, collection: ["Casual", "Contractor", "Full Time",
                                           "Internship", "Part Time",
                                           "Volunteer", "Work Experience"] %>
  <%= f.input :start_date, as: :string, input_html: { class: 'datepicker start_date' } %>
  <%= f.input :end_date, as: :string, input_html: { class: 'datepicker end_date' } %>
  <%= f.input :description, as: :text %>
  <%= f.association :skill %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
